nav{
    border-radius: 32px;
    background: #a3fff7;
    box-shadow:  27px 27px 55px #94e8e1, 
                 -27px -27px 55px #b2ffff;
}

nav>.title{
    font-size: 40px;
    font-weight: bold;
    color: darkturquoise;
    padding-left: 60px;
    padding-top: 10px;
}
nav>.viceTitle{
    font-size: 15px;
    font-weight: bold;
    color: azure;
    padding-left: 60px;
    padding-bottom: 10px;
}

main{
    background: #a3fff7;
}

.content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    /*border:1px solid red;*/
}
.box{
    border-radius: 32px;
    background: #98e9d9;
    box-shadow:  27px 27px 54px #8ad4c5, 
                 -27px -27px 54px #a6feed;
    /*background-color:lightgrey;*/
    width: 280px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.vice{
    font-size: 15px;
    font-weight: bold;
    color: darkturquoise;
    padding: 10px;
}
.num{
    font-size: 60px;
    font-weight: bold;
    color: darkturquoise;
    padding: 20px;
}
.plus{
    position: relative;
    top: -15px;
    font-size: 20px;
    font-weight: bold;
    color: lightcyan;
}